<div class="container">
    @if(quizData && quizForm){        
        <h2>{{ quizData.title }}</h2>
        
        <p>Beantworte bitte alle Fragen, um das Quiz abzuschließen.</p>
              
                <!-- START: Fortschrittsanzeige -->
        <div style="margin-top: 1.5rem;">
            <div class="progress-text">
            <span>Dein Fortschritt</span>
            <span>{{ getQuizProgress() }}%</span>
            </div>
            <div class="progress-container">
            <div class="progress-bar" [style.width.%]="getQuizProgress()"></div>
            </div>
        </div>
        <!-- ENDE: Fortschrittsanzeige -->
        <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
            @for( question of quizData.questions; track question.id; let i = $index){
            <div class="question-block">
            <h4>Frage {{ i + 1 }}:  {{ question.text }}</h4>
                <span style="font-size: 0.8rem; color: var(--text-muted);">
                ({{ isMultipleChoice(question) ? 'Mehrfachauswahl möglich' : 'Nur eine Antwort richtig' }})
                </span>
                @if(isMultipleChoice(question)){          
                    <div  [formArrayName]="'question_' + i">
                        <!-- FALL A: CHECKBOXEN (Mehrere Antworten richtig) -->
                        @for(option of question.options; track option;let j = $index){
                            <div class="question-option">
                                <label class="option-label">
                                    <input type="checkbox" [formControlName]="j">
                                    {{ option }}
                                </label>
                            </div>            
                        }
                    </div> 
                }@else{<!-- FALL B: RADIO-BUTTONS (Nur eine Antwort richtig) -->
                    @for(option of question.options; track option){
                        <div class="question-option">                        
                            <label class="option-label">                            
                                <input type="radio" 
                                [formControlName]="'question_' + i"
                                [value]="option"
                                [name]="'question_' + i">
                                {{ option }}
                            </label>
                        </div>
                    }
                }

            </div>
            }
            <div class="button-group">
            
                <button type="button" class="btn-secondary" (click)="goToBack()"> Abbrechen </button>
            <!--Submit-Button der nur aktiv ist, wenn alle Fragen beantwortet wurden-->
                <button type="submit" [disabled]="!quizForm.valid">Quiz abschließen</button>
            </div>
        </form>
    }@else {
        <p>keine quiz da</p>
    }
</div>
